# Importing libraries and dataset

In [3]:
import pandas as pd
import numpy as np 
import matplotlib as plt
%matplotlib inline
import seaborn as sns

In [14]:
df = pd.read_csv('reg_car_selling_final.csv')

In [16]:
df.head()

,make,model,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,Nm/kgm,rpm,seats,country
0,Maruti,Swift,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,190.0,2000.0,5.0,India
1,Skoda,Rapid,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,250.0,2500.0,5.0,Czech Republic
2,Honda,City,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,12.7,2700.0,5.0,Japan
3,Hyundai,i20,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,22.4,2250.0,5.0,South Korea
4,Maruti,Swift,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,11.5,4500.0,5.0,India

# Unilateral analysis

1. What is the most selling car make?

In [24]:
df['make'].value_counts().head(1)

make
Maruti    2124
Name: count, dtype: int64

2. What is the least selling car make?

In [61]:
df['make'].value_counts().tail(1)

make
Fiat    29
Name: count, dtype: int64

3. what is the most selling car model?

In [36]:
df['model'].value_counts().head(1)

model
Swift    662
Name: count, dtype: int64

4. What is the highest selling price ?

In [27]:
df['selling_price'].max()

1210000

5. what is the least selling price ?

In [30]:
df['selling_price'].min()

29999

6. what is the longest distance driven?

In [33]:
df['km_driven'].max()

190000

7. What is the shortest distance driven?

In [42]:
df['km_driven'].min()

1

 8. What is the most common fuel type ?

In [56]:
df['fuel'].value_counts().head(1)

fuel
Diesel    3093
Name: count, dtype: int64

9. What is the least used fuel type?

In [58]:
df['fuel'].value_counts().tail(1)

fuel
LPG    37
Name: count, dtype: int64

10. What is the most frequent seller type?

In [70]:
df['seller_type'].value_counts().head(1)

seller_type
Individual    5538
Name: count, dtype: int64

11. What is the least frequent seller type ?

In [74]:
df['seller_type'].value_counts().tail(1)

seller_type
Trustmark Dealer    22
Name: count, dtype: int64

12. What is the most frequent transmission ?

In [77]:
df['transmission'].value_counts().head(1)

transmission
Manual    5764
Name: count, dtype: int64

13. Are most sellers, first, second, third or fourth and above owners ?

In [117]:
df['owner'].value_counts().head(1)

owner
First Owner    3712
Name: count, dtype: int64

14. What is the average mileage ?

In [85]:
df['mileage'].mean().round(2)

19.92

15. What is the most common engine cc ?

In [89]:
df['engine'].mode()

0    1248.0
Name: engine, dtype: float64

16. What is the highest max power?

In [95]:
df['max_power'].max()

163.7

17. What is the average max_power?

In [98]:
df['max_power'].mean()

82.04284421261075

18. What is the highest Nm/kgm value?

In [103]:
df['Nm/kgm'].max()

789.0

19. What is the average Nm/kgm value?

In [107]:
df['Nm/kgm'].mean()

144.02471924913553

20. What is the highest rpm value?

In [110]:
df['rpm'].max()

5004.0

21. What is the average rpm value?

In [115]:
df['rpm'].mean().round(2)

3002.67

22. How many seats are most cars?

In [120]:
df['seats'].mode()

0    5.0
Name: seats, dtype: float64

 23. Which country makes the most cars?

In [125]:
df['country'].value_counts().head(1)

country
India    3310
Name: count, dtype: int64

# Bilateral analysis

1. Which company makes the most selling car model ?

In [155]:
df['model'].value_counts().head(1)

model
Swift    662
Name: count, dtype: int64

In [165]:
df[df['model'] == 'Swift']['make'].head(1)

0    Maruti
Name: make, dtype: object

2. Which company makes the highest selling price car?

In [168]:
df[df['selling_price']==df['selling_price'].max()]['make']

264    Hyundai
Name: make, dtype: object

3. What is the highest selling price model ?

In [173]:
df[df['selling_price']==df['selling_price'].max()]['model']

264    Creta
Name: model, dtype: object

4. How long was the distance travelled by the most selling car?

In [176]:
df[df['selling_price']==df['selling_price'].max()]['km_driven']

264    25000
Name: km_driven, dtype: int64

5. What is the fuel type used by the higest engine cc ?

In [185]:
df[df['engine']==df['engine'].max()]['fuel'].head(1)

228    Diesel
Name: fuel, dtype: object

6. Which country makes the most automatic cars?

In [251]:
auto = df[df['transmission']== 'Automatic']

In [255]:
auto['country'].value_counts().head(1)

country
India    142
Name: count, dtype: int64

# Multilateral analysis

1. What are the torque details of the highest selling price car?

In [259]:
df[df['selling_price']==df['selling_price'].max()][['Nm/kgm', 'rpm']]

     Nm/kgm     rpm
264   219.7  2125.0

2. What are the torque details of the least selling  price car?

In [214]:
df[df['selling_price']==df['selling_price'].min()][['Nm/kgm', 'rpm']]

      Nm/kgm     rpm
4325    59.0  2500.0

 3. What are the selling owner details of the most selling price car?

In [263]:
df[df['selling_price']==df['selling_price'].max()][['seller_type', 'owner']]

    seller_type        owner
264  Individual  First Owner

4. What are the selling owner details of the least selling price car?

In [267]:
df[df['selling_price']==df['selling_price'].min()][['seller_type', 'owner']]

     seller_type        owner
4325  Individual  Third Owner